:root {
  font-size: 120%;
  /*hyphens: auto;*/
}

.site_title {
  font-family: Jost, sans serif;
  font-size: 150%;
  font-weight: 400;
}

.section_header {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: Newsreader, serif;
  line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Jost, sans serif;
  font-weight: 500;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: #dfe5e9 underline;
}

a:hover {
  text-decoration: inherit;
  background-color: #e9eef2;
}
